@charset "UTF-8";

*{
    padding: 0;
    margin: 0;

}

.conteiner{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
   max-width: 300px;
   display: inline;
   color: red;
}

input{
    display: block;
    width: 100px;
    padding: 10px;
    border: solid 2px red;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin-top: 10px;
}

input:hover{
    cursor: pointer;
    border: solid 2px white;
    color: red;
    box-shadow: 5px 5px 20px #ff000080;
}

.user{
    background-color: white;
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: black;
}